
$green: linear-gradient(270deg, rgba(102,172,102,1) 0%, rgba(100,123,100,1) 51%);
$light-green:#647B64;
$dark-green:#333;
$white:#FEFEFE;


body{
        font-family: 'Roboto', sans-serif;
        font-family: 'Sen', sans-serif;
        background: linear-gradient(225deg, rgba(233,216,233,1) 9%, rgba(211,227,233,1) 23%, rgba(245,247,247,1) 47%);
       }
        .head {
          max-width: 500px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 50px;
          padding: 40px 32px;}
          @media screen and (min-width: 700px){
          .head {
              column-gap: 230px;
              max-width: 100%;
              padding: 50px 140px; }}
    .logo {
      display: flex;
      column-gap: 12px;
    }
    
    #button-2 {
     background: transparent;
     border: none;}
      @media screen and (min-width: 700px){
      #button-2  {
        display: none;}}

    .nav-header {
      display: none;} 
      @media screen and (min-width: 700px){
      .nav-header {
          display: contents;}}

          nav {
            display: flex;
            column-gap: 20px;
          align-items: center;
          }
        a{
          text-decoration: none;
          color: $dark-green;}

  button.button-1 {
        padding: 10px 15px;
        color: $white;
        background:$green;
        font-size: 16px;
        font-weight: 500;
        border-style: none;
        margin-right: 30px}

        nav a{
          text-decoration: none;
          color: $dark-green;}

          .header-conteiner {
            display: flex;
            justify-content: space-between;
            margin: 0 32px;}
          @media screen and (min-width: 700px){
            .header-conteiner {
            margin: 0 180px;
            }}

         .header-main-title h1{
          max-width: 500px;
          font-family: Avenir Next;
          text-transform: uppercase;
          padding: 24px 32px 40px 0;
          font-size: 24px;}
        @media screen and (min-width: 700px){
          .header-main-title h1{
            font-size: 48px;}}

        .header-main-title p{
        font-family: Avenir Next;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.8px;}
        @media screen and (min-width: 700px){
          .header-main-title p{
          font-size: 20px;}}
          
        .green-button{
        width: 350px;
      }
        
      button.green-button-text {
        background: $green;
        height: 60px;
        width: 290px;
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        box-shadow: 0px 20px 40px 0px;
        border-radius: 2px;
        text-align: left;
        letter-spacing: 2.48px;
        padding-left: 29px;
        padding-right: 29px;
        border-style: none;}
        @media screen and (min-width: 700px){
        button.green-button-text {
            height: 73px;
             width: 350px;
            font-size: 16px;}}
        .header-main-img {
            width: 1440px;}

            button.green-button-text {
                display: flex;
                justify-content: space-between;
                align-items: center;}
                @media screen and (min-width: 700px){
                .main-conteiner {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  padding-left: 140px;
                  padding-right: 177px;
                  padding-top: 100px;
                   column-gap: 70px;}}
  .column-part {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 40px;
          margin-left: 32px;}
          
.main-conteiner-left-side.tittle-2 {
          margin-left: 32px; 
           margin-bottom: 60px;}
          

  h3.subtitle {
  color: #F3B562;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin:  0;}
  @media screen and (min-width: 700px){
    h3.subtitle {
  font-size: 24px;}}

  h2.main-title {
  color: $light-green;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 20px;
  }
  
  @media screen and (min-width: 700px){
  h2.main-title {
    font-size: 41px;}}

  p.main-text {
  color: $light-green;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin-bottom: 40px;
  width: 300px;
  }
  @media screen and (min-width: 700px){
  p.main-text {
    font-size: 16px;}}
  
  img.icon{
  padding-inline: 12px 12px;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  }
  img.car-1{
  border-radius: 8px;
  background: $green;
  }
  h4.icon-title{
    color: $dark-green;
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 500;
    font-variant: small-caps;
  }
  @media screen and (min-width: 700px){
    h4.icon-title{
      font-size: 24px;}}
      
  p.icon-text {
  color:  #4F4F4F;
  font-family: Avenir Next;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.52px;}

  @media screen and (min-width: 700px){
    p.icon-text{
       font-size: 16px;}}

  .car {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 5 px 31.33px 0px rgba(32, 29, 29, 0.17)
  }
  .car {
      padding: 35px;
  }
  .BOUT.CRUISE {
      padding: 35px;
  }
  .bus {
      padding: 35px;
  }
  .roud {
      padding: 35px;}
    

    .middle-part {
      display: flex;
      margin-left: 32px;
      column-gap: 10px;
      row-gap: 10px;}

      @media screen and (min-width: 700px){
        .middle-part{
          margin-left: 140px;
          margin-right: 140px; 
          row-gap: 40px;
           column-gap: 40px;}}
      
        h3.middle-sub{
            text-align: center;
            margin-top: 120px;
        }
        h2.middle-tittle{
            text-align: center;}
              
                
        .pyhthon {
            padding: 30px 50px;
            border-radius: 8px;
            background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%), #FFF;
            width: 360px;
            height: 250px;}
          
            .stacks{
            padding: 30px 50px;
            border-radius: 8px;
            background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%), #FFF;
            width: 360px;
            height: 250px;}
           
              

        .iost {
            padding: 30px 50px;
            border-radius: 8px;
            background: #647B64;
            width: 360px;
            height: 250px;
            color: #FFF;
            }

            .conteiner-hover {
                margin-left: 35px;
                margin-right: 160px;
                margin-top: 190px;
                column-gap: 100px;
                align-items: center;}
                @media screen and (min-width: 700px){
                  .conteiner-hover{
                    display: flex;
                    margin-left: 140px;}}
                  
            .hover-img {
                width: 563px;
                height: 545px;
                 display: none;}
              @media screen and (min-width: 700px){
                .hover-img {display: contents;}}

                .hover-cart {
                    margin-top: 100px;}
            .last-conteiner-first-part {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 140px;
                        padding-top: 140px
                    }
                    @media screen and (min-width: 700px){
                      .last-conteiner-first-part {
                    padding-left: 140px;
                        ;}}
    img.vector-2 {
    background: $green;
    border-radius: 50%;
     padding: 8px;}
    
     .button-conteiner {
      display: none;
      
                      }

    @media screen and (min-width: 800px){
      .button-conteiner{
        display: contents;
        display: flex;
        gap: 15px;
      }}
      
   
      .last-conteiner {
        margin-left: 35px;}
                   
    h3.subtitle.middle-sub.last-conteiner-sub {
    margin-top: 0;
    text-align: left;
                    }
    h2.main-title.middle-tittle.last-conteiner-titl {
        text-align: left;}
        .last-conteiner-second {
          grid-template-columns: 1fr 1fr 1fr;
          display: grid;
          padding-right: 140px;
          column-gap: 25px;
          padding-bottom: 180px;
      }
      @media screen and (min-width: 700px){
        .last-conteiner-second{
      padding-left: 140px;}}

      .cart-footer-paragraf{
        font-size: 12px;
        
      }
      img.cart {
          object-fit: cover;
          width: 159px;
          height: 268px;
      }
  
      .last-conteiner-second-part-cart {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
   
  
      h4.cart-title {
          color:  $dark-green;
          font-family: Avenir Next;
          font-size: 16px;
          font-weight: 500;
          margin: 0;}
  
          p.cart-subtittle {
              color:  $green;
              font-family: Avenir Next;
              font-size: 13px;
              font-weight: 400;
              letter-spacing: 0.52px;
              margin-top: 5px;}
              .last-conteiner-second-part {
                  padding: 32px 32px 32px 40px;
                  background: linear-gradient(358deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0.00) 25.62%, rgba(100, 123, 100, 0.00) 98.53%), #FFF;}

                  footer {
                    max-width: 100%;
                    padding: 35px 35px;
                    background:  #F0DCC5;
                    display: grid;
                    column-gap: 100px;}

                  @media screen and (min-width: 700px){
                    footer { padding: 140px 140px; 
                     grid-template-columns: 2fr 1fr 1fr 2fr;}}

                     .company {
                      display: flex;
                      column-gap: 100px;}


                    .footer-1-part {
                        color: #4F4F4F;
                        font-size: 14px;
                        width: 70%;
                    }
                    img.footer-icon.insta {
                        padding: 6px;
                        background: rgba(128, 128, 128, 0.096);
                        border-radius: 50%;
                        }
                        ul {
                            list-style-type: none;
                            color: #333;
                            font-family: Avenir Next;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            padding: 0;
                        }
                        .footer-tittle {
                            color: #647B64;
                            font-family: Avenir Next;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 24px;}

                            textarea#story {
                              
                              border: none;
                              margin-bottom: 28px;
                              color: #4F4F4F;
                              font-family: Avenir Next;
                              font-size: 14px;
                              font-weight: 400;
                              line-height: 24px;
                              padding: 20px;
                              height: 90px;
                              width: 250px;}

                            @media screen and (min-width: 700px){
                              textarea#story {
                                font-weight:400;
                                height: 113px;
                                width: 310px;}}
                            

                            .footer-icon {
                               display: flex;
                               column-gap: 20px;
                            }